.container-fluid{
    background-image: url("../Contacto/bg.jpeg");
    width: 100%;
    height: auto;
   
}

.img-series-hero{
    width: 15%;
    padding: 1%;
    background-size: cover;
}
.img-series-hero:hover{
    transform: scale(1.5,1.5);
    transition: 1.2s;
    
}
.h2-tittle-cat{
    font-size: 30px;
    margin: 15px;
    color: white;
    margin-top: 5%;
}