@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-image: url(bg.jpeg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4) ;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 45px;
    border-radius: 10px;
}

h1{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: solid 1px #FFD700;
}

input, textarea {
    width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    transition: .3s;
}

textarea:focus {
    transition: .3s;
    transform: scale(1.02);
}

input:focus {
    transition: .3s;
    transform: scale(1.02);
}

#boton {
    background: #ebc801;
    border: none;
    color: #000;
    padding: 10px; 
    padding: 3% 45%;
    transition: none;
    transform: none;
}

#boton:hover {
    cursor: pointer;
}

.direc {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4) ;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 96px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

iframe {
    width: 100%;
    font-size: 17px;
    margin-bottom: 50px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}

/* ------------------------------------------- RESPONSIVE---------------------------------- */

@media (max-width:480) {
    body{
        background-image: url(bg.jpeg);
        background-size: 100vw 100vh;
        background-attachment: fixed;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    form{
        width: 100%;
    }
}